/* scripts */
.stick {
  position: fixed;
  top: relative;
  width: 100%;
  transition-delay: 0s;
}

.stick + .content {
  padding-top: 74px;
}

/* body */

body {
  background-color: #fcfcfc;
  font-family: "Lato", sans-serif;
  margin: 0px 0px;
  font-size: 14pt;
  background-image: url("images/background-2.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 48%;
}

#header_id {
  background-color: rgba(253, 253, 253, 0.8);
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
  height: 80px;
}

#logo img {
  display: block;
  height: 60px;
  position: absolute;
  padding-top: 2px;
  left: 48.5%;
}

.nav-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-right: 70px;
  padding-left: 250px;
  text-align: center;
}

.nav-right {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-right: 250px;
  padding-left: 70px;
  text-align: center;
}

.icon {
  display: none;
}

.page-name {
  flex: 1;
  position: relative;
}

.page-name {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12pt;
}

.page-name a:link {
  color: #000;
  text-decoration: none;
}

#header_id .page-name a:hover {
  color: #1ec66c;
}

.page-name a:visited {
  color: #000;
}

h1 {
  font-family: "Delius Swash Caps", cursive;
  padding: 10px 0px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h3 {
  font-family: "Delius Swash Caps", cursive;
}

.content {
  margin: 0px 100px 100px 100px;
}

p {
  line-height: 1.5em;
}

/* landing */
.landing {
  display: flex;
  padding: 75px 0px 80px 0px;
}
.landing img {
  height: 500px;
  width: 500px;
}

.landing-text {
  margin: 80px 30px;
}

.landing p {
  font-size: 16pt;
}

.section {
  padding: 100px 100px 10px 100px;
}

/* BUTTON */
button {
  margin-top: 10px;
  height: 50px;
  width: 160px;
  color: #2ea41a;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-decoration: none;
  background-color: #fdfdfd;
  border: 2px solid;
  border-radius: 6pt;
  border-color: #2ea41a;
  transition: 0.3s ease-in-out;
  justify-content: end;
}

button:hover {
  background-color: #2ea41a;
  color: white;
  transition: 0.3s ease-in-out;
}

/* PARTNERS */
.donors {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

#paco-img {
  padding: 0px 20px 0px 0px;
  width: 40%;
  height: 40%;
}

#sfco-img {
  padding: 0px 0px 0px 20px;
  width: 25%;
  height: 40%;
}

/* FOOTER */
#footer {
  display: flex;
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 40px 0px;
  height: 60px;
}

#footer img {
  height: 60px;
  margin-top: 8px;
}

.dark-logo {
  flex: 1;
  display: flex;
  text-align: left;
  margin-left: 100px;
  /* margin: 0px 0px 20px 40px; */
}

.dark-logo h3 {
  margin-left: 10px;
}

.copyright {
  flex: 1;
  text-align: right;
  margin-right: 100px;
}

/* mobile version */
@media (max-width: 800px) {
  .stick + .content {
    padding-top: 40px;
  }

  body {
    margin: 0px 0px;
    font-size: 11pt;
    background-position: 30%;
    background-position-y: 20%;
  }

  #header_id {
    background-color: rgba(253, 253, 253, 0.8);
    display: inline-block;
    flex-direction: row;
    padding-top: 4px;
    width: 100%;
    height: 70px;
  }

  #logo img {
    display: inline-block;
    height: 60px;
    position: absolute;
    padding-top: 5px;
    left: 5%;
  }

  #navLinksL {
    display: none;
  }

  #navLinksR {
    display: none;
  }

  .nav-left {
    flex: 0;
    /* display: block; */
    display: none;
    padding-top: 70px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgba(253, 253, 253, 0.8);
    text-align: center;
  }

  .nav-right {
    flex: 0;
    /* display: block; */
    display: none;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgba(253, 253, 253, 0.8);
    text-align: center;
  }

  .icon {
    padding-top: 20px;
    padding-right: 30px;
    /* display: block; */
    display: none;
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    color: #077612;
  }

  .page-name {
    flex: 1;
    position: relative;
  }

  .page-name {
    letter-spacing: 1px;
    font-size: 12pt;
    padding: 5px 0px;
  }

  h1 {
    font-size: 24px;
    padding: 0px 0px;
  }

  .content {
    margin: 0px 10px;
  }

  /* landing */
  .landing {
    display: block;
    padding: 30px 0px 20px 0px;
    text-align: center;
  }

  .landing img {
    height: 80%;
    width: 80%;
  }

  .landing-text {
    margin: 10px 4px;
    text-align: left;
  }

  .landing p {
    font-size: 12pt;
  }

  .section {
    padding: 20px 10px;
  }

  button {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    background-color: #2ea41a;
    border: 0px solid;
    border-radius: 6pt;
    /* border-color: #2ea41a; */
    box-shadow: 0px 2px 4px #969696;
  }

  /* footer */
  #footer {
    display: inline-block;
    text-align: center;
    padding: 40px 0px;
    height: 80px;
    width: 100%;
  }

  #footer img {
    height: 60px;
    margin-top: 0px;
    margin-right: 10px;
  }

  .dark-logo {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 10px;
  }

  .dark-logo h3 {
    margin-left: 0px;
  }

  .copyright {
    flex: 1;
    justify-content: center;
    text-align: center;
    color: #8b8b8b;
    margin-right: 0px;
  }
}
